<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="flex flex-col justify-center items-center">
    
    <div class="flex flex-col justify-center mt-8">
        <form action="/notes" method="POST">
            <h1 class="text-xl mb-4 font-semibold">What's on your mind!💡</h1>
            <!-- <label for="titleInput" class="text-gray-800 mb-2">Title</label> -->
            <input type="text" id="titleInput" name="title" class="w-full border py-2 mb-4 pl-4" placeholder="Title">
            <br>
            <label for="contentsInput" class="text-gray-800 mb-2">Contents</label>
            <br>
            <textarea name="contents" id="contentsInput" rows="15" class="w-[900px] border mb-4 pl-4"></textarea>
            <br>

            <div class="flex flex-row justify-between items-center my-8">
                <button type="submit" class="bg-black text-white px-6 py-3">Create Note</button>            
                <a href="/notes"><button type="button" class="border border-black px-6 py-3">Go Back</button></a>
            </div>
        </form>

    </div>
</body>
</html>