<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold">Notes</h1>

    <div class="flex flex-col justify-center items-center">
        <ul class="list-none">
          <% notes.forEach(note => { %>
            <li class="w-[450px] h-auto mt-6 p-4 flex flex-col justify-start items-start text-start overflow-hidden">
              <h2 class="text-lg text-blue-500 font-semibold w-full line-clamp-2"><%= note.title %></h2>
              <p class="text-sm w-full line-clamp-4"><%= note.contents.substring(0, 150) %>...</p>
              <p class="text-xs w-full mt-2"><%= note.timestamp %></p>

              <button class="bg-black px-6 py-2 mt-2">
                  <a href="/notes/<%= note.id %>" class="text-white text-sm">View More</a>
              </button>
            </li>
          <% }) %>
        </ul>
      </div>
      
      


</body>
</html>